{% extends 'base.html.twig' %}

{% block body %}
    <h1>Createsessions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Typeofcar</th>
                <th>Numberofplaces</th>
                <th>Address</th>
                <th>Departuretime</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for createSession in createSessions %}
            <tr>
                <td><a href="{{ path('createsession_show', { 'id': createSession.id }) }}">{{ createSession.id }}</a></td>
                <td>{{ createSession.typeOfCar }}</td>
                <td>{{ createSession.numberOfPlaces }}</td>
                <td>{{ createSession.address }}</td>
                <td>{{ createSession.departureTime }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('createsession_show', { 'id': createSession.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('createsession_edit', { 'id': createSession.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('createsession_new') }}">Create a new createSession</a>
        </li>
    </ul>
{% endblock %}
