{% extends 'base.html.twig' %}

{% block body %}
    <h1>Passager1</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ passager1.id }}</td>
            </tr>
            <tr>
                <th>Profil</th>
                <td>{{ passager1.profil }}</td>
            </tr>
            <tr>
                <th>Conducteur</th>
                <td>{{ passager1.conducteur }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('passager1_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('passager1_edit', { 'id': passager1.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
