{% extends "/layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">

{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row bg">
        <div class="col-md-3 bg">&nbsp;</div>
        <div class="col-md-6 bg mx-auto mt-5">
            <div class="w-300 mx-auto shadow p-3 mb-5  rounded ">



                <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Type de voiture</th>
                <th scope="col">Nombre de places</th>
                <th scope="col">Date</th>
                <th scope="col">Heure</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conducteur in conducteurs %}
            <tr>
                <th scope="row">1</th>
                <td><a href="{{ path('conducteur_show', { 'id': conducteur.id }) }}">{{ conducteur.id }}</a></td>
                <td>{{ conducteur.typevoiture }}</td>
                <td>{{ conducteur.nbplaces }}</td>
                <td>{% if conducteur.date %}{{ conducteur.date|date('Y-m-d') }}{% endif %}</td>
                <td>{% if conducteur.heure %}{{ conducteur.heure|date('H:i:s') }}{% endif %}</td>
                <h1>{{ conducteur.author.firstname }}</h1>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('conducteur_show', { 'id': conducteur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('conducteur_edit', { 'id': conducteur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

                    <ul>
                        <li>
                            <a href="{{ path('conducteur_new') }}">Créer une nouvelle session</a>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
